---
# ZABBIX
- name: Setup Zabbix server
  hosts: zabbix
  become: true
  tasks:
    - name: Download Zabbix repo
      get_url:
        url: "https://repo.zabbix.com/zabbix/7.4/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_7.4+ubuntu22.04_all.deb"
        dest: "/tmp/zabbix-release.deb"

    - name: Install Zabbix repo
      apt:
        deb: "/tmp/zabbix-release.deb"

    - name: Install packages
      apt: 
        name:
          - nginx
          - mysql-server
          - python3-pymysql
          - php-fpm
          - php-mysql
          - zabbix-sql-scripts
          - zabbix-server-mysql
          - zabbix-frontend-php
          - zabbix-nginx-conf
        state: present
        update_cache: yes

    - name: Deploy Zabbix Nginx configuration
      ansible.builtin.template:
        src: zabbix_nginx.conf.j2
        dest: /etc/nginx/sites-available/zabbix.conf
        owner: root
        group: root
        mode: 0644

    - name: Enable Zabbix site and disable default
      ansible.builtin.file:
        path: "/etc/nginx/sites-enabled/{{ item.name }}"
        src: "{{ item.src | default(omit) }}"
        state: "{{ item.state }}"
      loop:
        - { name: 'default', state: 'absent' }
        - { 
            name: 'zabbix.conf', 
            src: '/etc/nginx/sites-available/zabbix.conf', 
            state: 'link' 
          }

    - name: Symlink Zabbix Nginx config
      file:
        src: /etc/zabbix/nginx.conf
        dest: /etc/nginx/conf.d/zabbix.conf
        state: link

    - name: Ensure MySQL is running
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Create Zabbix DB
      mysql_db:
        name: zabbix
        encoding: utf8mb4
        collation: utf8mb4_bin
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create Zabbix DB user
      mysql_user:
        name: zabbix
        password: "{{ db_password }}"
        priv: 'zabbix.*:ALL'
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Enable trust_function_creators for import
      mysql_variables:
        variable: log_bin_trust_function_creators
        value: '1'
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Import initial Zabbix schema
      shell: zcat /usr/share/zabbix/sql-scripts/mysql/server.sql.gz | mysql -uzabbix -p'{{ db_password }}' zabbix && touch /etc/zabbix/.schema_imported
      args:
        creates: /etc/zabbix/.schema_imported

    - name: Disable trust_function_creators after import
      mysql_variables:
        variable: log_bin_trust_function_creators
        value: '0'
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Configure Zabbix DB password
      lineinfile:
        path: /etc/zabbix/zabbix_server.conf
        regexp: '^# DBPassword='
        line: "DBPassword={{ db_password }}"

    - name: Restart services
      service:
        name: "{{ item }}"
        state: restarted
        enabled: yes
      loop: [php8.1-fpm, nginx, zabbix-server]

# ALL
- name: Basic setup
  hosts: all
  become: true
  tasks:

    - name: Ensure jq is installed
      ansible.builtin.package:
        name: jq
        state: present

    - name: Download and Run Yandex Backup Installer
      ansible.builtin.shell: |
        curl -sSL https://storage.yandexcloud.net/backup-distributions/agent_installer.sh | bash

    - name: Ensure the backup agent service is running and enabled
      ansible.builtin.systemd:
        name: yandex-backup-agent
        state: started
        enabled: yes

    - name: Install Zabbix agent
      apt:
        name: zabbix-agent
        state: present
        update_cache: yes
        cache_valid_time: 3600

    - name: Update Zabbix agent config
      template:
        src: zabbix_agentd.conf.j2
        dest: /etc/zabbix/zabbix_agentd.conf

    - name: Restart Zabbix agent 
      service:
        name: zabbix-agent
        state: restarted
        enabled: yes

# ES
- name: Setup Elasticsearch
  hosts: elasticsearch
  become: true
  tasks:

    - name: Minimize swap usage
      ansible.posix.sysctl:
        name: vm.swappiness
        value: '1'
        state: present
        reload: yes

    - name: Download Elasticsearch
      get_url:
        url: "https://mirror.yandex.ru/mirrors/elastic/9/pool/main/e/elasticsearch/elasticsearch-{{ elastic_version }}-amd64.deb"
        dest: "/tmp/elasticsearch.deb"
        mode: 0644

    - name: Install Elasticsearch
      apt:
        deb: "/tmp/elasticsearch.deb"

    - name: Ensure Elasticsearch is stopped
      service:
        name: elasticsearch
        state: stopped

    - name: Check if bootstrap.password exists in keystore
      shell: /usr/share/elasticsearch/bin/elasticsearch-keystore list
      register: keystore_contents
      changed_when: false

    - name: Add bootstrap password to Elasticsearch keystore
      shell: |
        set -o pipefail
        echo "{{ elastic_password }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add -x 'bootstrap.password'
      args:
        executable: /bin/bash
      when: "'bootstrap.password' not in keystore_contents.stdout"

    - name: Set heap size
      copy:
        dest: /etc/elasticsearch/jvm.options.d/heap.options
        content: |
          -Xms4g
          -Xmx4g
        owner: root
        group: elasticsearch
        mode: 0660

    - name: Configure Elasticsearch
      ansible.builtin.template:
        src: elasticsearch.yml.j2
        dest: /etc/elasticsearch/elasticsearch.yml
        owner: root
        group: elasticsearch
        mode: 0660

    - name: Start Elasticsearch
      service:
        name: elasticsearch
        state: restarted
        enabled: yes
        daemon_reload: yes

    - name: Wait for Elasticsearch
      ansible.builtin.wait_for:
        port: 9200
        delay: 20

    - name: Set kibana_system password via API
      ansible.builtin.uri:
        url: "http://localhost:9200/_security/user/kibana_system/_password"
        method: POST
        user: "elastic"
        password: "{{ elastic_password }}"
        force_basic_auth: yes
        body_format: json
        body:
          password: "{{ kibana_system_password }}"
        validate_certs: no
        status_code: 200
      register: api_result
      retries: 10
      delay: 5
      until: api_result.status == 200

# KIBANA
- name: Setup Kibana
  hosts: kibana
  become: true
  tasks:
    - name: Download Kibana
      get_url:
        url: "https://mirror.yandex.ru/mirrors/elastic/9/pool/main/k/kibana/kibana-{{ elastic_version }}-amd64.deb"
        dest: "/tmp/kibana.deb"
        mode: 0644

    - name: Install Kibana
      apt:
        deb: "/tmp/kibana.deb"

    - name: Configure Kibana
      ansible.builtin.template:
        src: templates/kibana.yml.j2
        dest: /etc/kibana/kibana.yml
        owner: root
        group: kibana
        mode: 0660

    - name: Start Kibana
      service:
        name: kibana
        state: restarted
        enabled: yes

# WEB
- name: Webserver configuration
  hosts: webservers
  become: true
  tasks:
    - name: Install Nginx
      apt: 
        name: nginx
        state: present

    - name: Create custom index.html
      copy:
        content: |
          <html>
          <head><title>Netology - BorzovES</title></head>
          <body>
            <h1>This is {{ inventory_hostname }}</h1>
            <p>It's alive</p>
          </body>
          </html>
        dest: /var/www/html/index.html

    - name: Download Filebeat
      get_url:
        url: "https://mirror.yandex.ru/mirrors/elastic/9/pool/main/f/filebeat/filebeat-{{ elastic_version }}-amd64.deb"
        dest: "/tmp/filebeat.deb"
        mode: 0644

    - name: Install Filebeat
      apt:
        deb: "/tmp/filebeat.deb"

    - name: Ensure Filebeat is stopped
      service:
        name: filebeat
        state: stopped

    - name: Deploy Filebeat Configuration
      template:
        src: filebeat.yml.j2
        dest: /etc/filebeat/filebeat.yml
        owner: root
        group: root
        mode: 0644

    - name: Enable Nginx module
      command: filebeat modules enable nginx
      args:
        creates: /etc/filebeat/modules.d/nginx.yml

    - name: Set permissions on Nginx module config
      file:
        path: /etc/filebeat/modules.d/nginx.yml
        owner: root
        group: root
        mode: 0644

    - name: Filebeat Setup
      command: filebeat setup -e
      register: setup_log
      changed_when: "'Loaded dashboards' in setup_log.stdout"
      run_once: true

    - name: Wait for Elastic services
      ansible.builtin.wait_for:
        host: "{{ item.host }}"
        port: "{{ item.port }}"
        state: started
        delay: 5
        timeout: 300
      loop:
        - { host: 'elasticsearch.ru-central1.internal', port: 9200 }
        - { host: 'kibana.ru-central1.internal', port: 5601 }

    - name: Ensure Filebeat is running
      service:
        name: filebeat
        state: restarted
        enabled: yes
